<div class="campus_info">

  <div id="info_tem">
    <!-- Location -->
    <p>Cypress Avenue, Lower Templestowe 3107</p>
    <!-- Time -->
    <p>Saturday Afternoon, 1:30pm - 4:15pm</p> </br>
    <img src="/images/templestowebanner.jpeg" alt="">
  </div>

  <div id="info_wh">
    <!-- Location -->
    <p>Raphael Drive, Wheelers Hill 3150</p>
    <!-- Time -->
    <p>Saturday Morning, 9:30am - 12:15pm</p> </br>
    <img src="/images/wheelersbanner.jpeg" alt="">
  </div>

  <div id="info_haw">
    <!-- Location -->
    <p>23 Burgess St, Hawthorn East 3123</p>
    <!-- Time -->
    <p>Sunday Afternoon, 1:30pm - 4:15pm</p> </br>
    <img src="/images/auburnbanner.jpeg" alt="">
  </div>

  <div id="info_don">
    <!-- Location -->
    <p>123 Church Rd, Doncaster 3108</p>
    <!-- Time -->
    <p>Sunday Morning, 9:30am - 12:15pm</p> </br>
    <img src="/images/doncasterbanner.jpeg" alt="">
  </div>

</div>
