<div class="campus_info">

  <div id="info_tem">
    <!-- Location -->
    <p>Cypress Avenue, Lower Templestowe 3107</p>
    <!-- Time -->
    <p>Saturday Morning, 9:00am - 12:20pm</p> </br>
    <img src="/images/2.jpeg" alt="">
  </div>

  <div id="info_wh">
    <!-- Location -->
    <p>Raphael Drive, Wheelers Hill 3150</p>
    <!-- Time -->
    <p>Saturday Afternoon, 1:30pm - 4:50pm</p> </br>
    <img src="/images/3.jpeg" alt="">
  </div>

  <div id="info_haw">
    <!-- Location -->
    <p>23 Burgess St, Hawthorn East 3123</p>
    <!-- Time -->
    <p>Sunday Morning, 9:00am - 12:20pm</p> </br>
    <img src="/images/5.jpeg" alt="">
  </div>

  <div id="info_don">
    <!-- Location -->
    <p>123 Church Rd, Doncaster 3108</p>
    <!-- Time -->
    <p>Sunday Afternoon, 1:30pm - 4:50pm</p> </br>
    <img src="/images/6.jpeg" alt="">
  </div>

  <div id="info_ash">
    <!-- Location -->
    <p>Vannam Drive, Ashwood 3147</p>
    <!-- Time -->
    <p>Sunday Afternoon, 1:30pm - 4:50pm</p> </br>
    <img src="/images/7.jpeg" alt="">
  </div>

</div>
