<div class="campus_info">

  <div id="info_tem">
    <!-- Location -->
    <p>Cypress Avenue</p>
    <p>Lower Templestowe 3107</p>
    <!-- Time -->
    <p>Saturday Morning</p>
    <p>9:00am - 12:20pm</p> </br>
    <img src="http://loremflickr.com/800/200/building" alt="">
  </div>

  <div id="info_wh">
    <!-- Location -->
    <p>Raphael Drive</p>
    <p>Wheelers Hill 3150</p>
    <!-- Time -->
    <p>Saturday Afternoon</p>
    <p>1:30pm - 4:50pm</p> </br>
    <img src="http://loremflickr.com/800/200/building" alt="">
  </div>

  <div id="info_haw">
    <!-- Location -->
    <p>23 Burgess St</p>
    <p>Hawthorn East 3123</p>
    <!-- Time -->
    <p>Sunday Morning</p>
    <p>9:00am - 12:20pm</p> </br>
    <img src="http://loremflickr.com/800/200/building" alt="">
  </div>

  <div id="info_don">
    <!-- Location -->
    <p>123 Church Rd</p>
    <p>Doncaster 3108</p>
    <!-- Time -->
    <p>Sunday Afternoon</p>
    <p>1:30pm - 4:50pm</p> </br>
    <img src="http://loremflickr.com/800/200/building" alt="">
  </div>

  <div id="info_ash">
    <!-- Location -->
    <p>Vannam Drive</p>
    <p>Ashwood 3147</p>
    <!-- Time -->
    <p>Sunday Afternoon</p>
    <p>1:30pm - 4:50pm</p> </br>
    <img src="http://loremflickr.com/800/200/building" alt="">
  </div>

</div>
