extends layout

block content
	.container
		.section
			.col.s12.center
					h4 Our Campuses
			.row
				.col.s12.m6
					.icon-block.card-panel
						h5.center Chinese Language Courses
						p.light
							| This is a list of campuses for the Chinese language program
				.col.s12.m6
					.icon-block.card-panel
						h5.center Learning Centre
						p.light
							| This is a list of campus locations for the learning centre program