extends layout

block content
	.container
		.section
			.row
				.col.s12.m6
					.icon-block.center
						h2.center.brown-text
							i.material-icons perm_identity
						h5.center Contact Form
						p.light Contact form goes here
					.icon-block
						h2.center.brown-text
						i.material-icons phone
						p.light
						ul.center
							li 03 9802 9998 - English
							li 0403 238 818 - Mandarin
							li 0400 880 306 - Cantonese
							li 0430 220 078 - Mandarin
							li 03 9802 1990 - fax
					.icon-block.center
						h2.center.brown-text
							i.material-icons schedule
						p.light
						| 9:00AM - 4:30PM
						| Monday to Friday
				.col.s12.m6
					.icon-block.center
						h2.center.brown-text
							i.material-icons language
							h5.center New Century Language School and Learning Centre
							p.light
							| 14/24 Lakeside Drive Burwood East VIC 3151
							| info@newcenturyschool.com.au
					.icon-block.center
						iframe.responsive-image(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25201.34111883815!2d145.14955353816674!3d-37.85636774425573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad63f0ef1ad9759%3A0x28d67f7f9a557b0!2s14%2F24+Lakeside+Dr%2C+Burwood+East+VIC+3151!5e0!3m2!1sen!2sau!4v1459472708541', width='500', height='350', frameborder='0', style='border:0', allowfullscreen='')
