extends layout

block content
	.container.margin70
		.section
			.row
				.col.s12.m6
					.row
						h5.center 请留言
						form(action='/contact', name='contactus', id='contactus', class='col s12', method='post')
							.row
								.input-field.col.s6
									input(name='nm', type='text', value='', id='nm')
									label(for='nm') 名字
								.input-field.col.s6
									input(name='ph_num', type='text', value='', id='ph_num')
									label(for='ph_num') 电话号码
							.row
								.input-field.col.s12
									textarea(name='message' id='textarea1' class='materialize-textarea')
									label(for='message') 内容
							.row
								.input-field.col.s12
									input(name='email', type='text', value='', id='email')
									label(for='email') 电子邮箱地址
							.row.hidden
								.input-field.col.s12
									input(name='spampot', type='text', value='', id='spampot')
									label(for='spampot') Your Company
							.row
								input(name='submit', type='submit', value='Send', id='submit', class='btn')
				.col.s12.m6
					.icon-block.center
						h5 办公室地址
					.icon-block#office-map
						iframe.responsive-image(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25201.34111883815!2d145.14955353816674!3d-37.85636774425573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad63f0ef1ad9759%3A0x28d67f7f9a557b0!2s14%2F24+Lakeside+Dr%2C+Burwood+East+VIC+3151!5e0!3m2!1sen!2sau!4v1459472708541', width='450', height='300', frameborder='0', style='border:0', allowfullscreen='')
