<!-- Use for mailto method -->

<form action="MAILTO:yang.j.li91@gmail.com" method="post" enctype="text/plain" class="col s12 card-panel">
  <p>Name:</p>
  <input type="text" name="name" placeholder="Your name" class="input-field col s12"><br>
  <p>Email:</p>
  <input type="text" name="mail" placeholder="Your email" class="input-field col s12"><br>
  <p>Message:</p>
  <input type="text" name="comment" placeholder="" size="200" class="input-field col s12"><br><br>

  <input type="submit" value="Send">
  <input type="reset" value="Reset">
</form>
