extends english_layout

block content
	.row.green.lighten-4.no-btm-margin
		.col.s3
			.mini_nav
				a(href='/english/campuses/language')
					button.waves-effect.waves-light.btn-large.col.s12.margined_btn(type='button', name='chinese_school') Language Program
				a(href='/english/campuses/learning')
					button.waves-effect.waves-light.btn-large.col.s12.margined_btn.blue(type='button', name='scholarship_classes') Learning Centre
				button.waves-effect.waves-light.btn-large.col.s12.margined_btn(type='button', name='download') Language Forms
				button.waves-effect.waves-light.btn-large.col.s12.margined_btn(type='button', name='download') Learning Forms
		.col.s9.white.left-border
			#Office.mapspace
			#WH.mapspace(style='display: none;')
			#Tem.mapspace(style='display: none;')
			#Ash.mapspace(style='display: none;')
			#Don.mapspace(style='display: none;')
			#Haw.mapspace(style='display: none;')
			.campus_btns
				button#temButton.waves-effect.waves-light.btn-large  Templestowe 
				button#whButton.waves-effect.waves-light.btn-large  Wheelers Hill
				button#hawButton.waves-effect.waves-light.btn-large  Hawthorn
				button#donButton.waves-effect.waves-light.btn-large  Doncaster 
				button#ashButton.waves-effect.waves-light.btn-large  Ashwood 
			include campuses_info.html
	script(src='http://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAJ914nvbWDv457JXNCo8GBPig_F_3HTvw')
	script(src="../javascripts/maps.js")
	script(src='http://code.jquery.com/jquery.js')
	script(src="../javascripts/js.js")