extends english_layout

block content
	.container
		.section
			.col.s12.center
					h4 Enrolments
			.row
				.col.s12.m6
					.icon-block.card-panel
						h5.center Chinese Language Courses
						p.light
							| Click on this area to go to the Chinese language courses enrolments page...
							a(href='/english/enrol/language') Language Course Enrolments
				.col.s12.m6
					.icon-block.card-panel
						h5.center Learning Centre
						p.light
							| click this area to go to the Learning Centre enrolments page...
							a(href='/english/enrol/learning') Learning Centre Enrolments