extends english_layout

block content
	.row.green.lighten-4
		.col.s3
			.mini_nav
				a(href='/english/enrol/language')
					button.waves-effect.waves-light.btn-large.col.s12.margined_btn(type='button', name='chinese_school') Language Program
				a(href='/english/enrol/learning')
					button.waves-effect.waves-light.btn-large.col.s12.margined_btn.blue(type='button', name='scholarship_classes') Learning Centre
				a(href='http://www.pdf-archive.com/2016/05/23/ch-scholarship-enrolment/ch-scholarship-enrolment.pdf' download)
					button.waves-effect.waves-light.btn-large.col.s12.margined_btn(type='button', name='download') Enrolment Pack
		.col.s9.white.left-border
			div.container
				h2.m1 Learning Centre Program
				p(align="justify").p2.p2t
					| New Century Learning Centre Tutoring programs are especially tailored to the needs of students 
					| who want to obtain a scholarship at the Year 4, Year 6 and Year 8 levels. This includes students 
					| who want to gain a position in accelerated programmes of reputable government schools 
					| (e.g. Balwyn High, University High); and those who want to pass the entrance exams for Melbourne High，
					| MacRobertson Girls, Nossal High, and Cory High. 
					br
					br
					| The program also suits those who want to lay a solid 
					| foundation for their future academic endeavours. Classes are run on weekends during school terms and a 
					| more intensive programme is also run during school holidays.
					br
					br
					b New Century Learning Centre tutoring specialised programs offer:
					p(align="justify").container.list
						| - Systematic tutoring in English, Mathematics, Essay Writing, Abstract Reasoning, and Science
						br
						| - Systematic and comprehensive practices of the above subjects.
						br
						| - Practice exams specifically designed to familiarise students with the format of Edutest, ACER,
						| ASST and Selective Entrance exams.
						br
						| - Development of a repertoire of exam-related skills to improve performance outcomes.
						br
						| - Teaching of learning skills, empowering students through skill development.
						br
						| - Fostering of self-confidence based on the solid foundations students gradually form in the
						| process of learning at New Century Learning Centre.
						br
						br
				p(align="justify").p2
					b Students Achievements in scholarship exams and Selective Entrance Exam 2015:
					p(align="justify").container.p2b.list
						| - 102 students were offered positions at Melbourne High, MacRobertson Girls and Nossal High,
						| equalling around 80% of our total student body.
						br
						| - So far, we have 10 students with offers of 100% scholarships, 16 students with a 90% offer, 
						| 43 students with a 60-80% offer, 168 students with a 50% offer and even more with lower offers.
						br
						| - We have 16 placements in Balwyn High's accelerated program and 7 in University High's.
						| There are 12 in John Monash Science School's program.
			.slider(style='margin-bottom: 3vw; margin-top: 2vw;')
				ul.slides
					li
						img(src='/images/20.jpeg')
					li
						img(src='/images/21.jpeg')
					li
						img(src='/images/22.jpeg')
					li
						img(src='/images/23.jpeg')
