extends english_layout

block content
	.row.green.lighten-4
		.col.s12.m3
			.mini_nav
				a(href='/english/enrol/language')
					button.waves-effect.waves-light.btn-large.col.s12.margined_btn.blue(type='button', name='chinese_school') Language Program
				a(href='/english/enrol/learning')
					button.waves-effect.waves-light.btn-large.col.s12.margined_btn(type='button', name='scholarship_classes') Learning Centre
				a(href='https://drive.google.com/open?id=0B5a8vOQxL7vzMElFS2RZNWlhWEU')
					button.waves-effect.waves-light.btn-large.col.s12.margined_btn(type='button', name='download') Enrolment Pack
		.col.s12.m9.white.left-border
			div.container
				h2.m1 Chinese Language Program
				p(align="justify").p2
					| New Century Chinese Language School was founded in 2000, at the turn of the new century.
					| The timing determined the name of the school. On a more profound level,
					| it represents our wish to establish an environment in the beautiful city of Melbourne where the Chinese language and culture can be shared and passed on into the new age.
					| It is our sincere wish that all of our students can learn, grow and endeavour to be successful and outstanding citizens, both in Australia and around the world.
					br
					br
					| New Century Chinese Language School has a record for impressive academic performance, with
					| consecutive years of success in VCE Chinese First, Second, and Second language advanced.
					br
					br
					| To achieve the esteemed results that we have seen, our school has created our own system,
					| including our tuition, management, materials authored by our own staff, and great interaction with
					| parents. The real crux of our success lies in the details. Nothing motivates us more than seeing
					| proud, joyful and grateful parents and students when they achieve their academic goals.
					br
					br
					| Our school currently has four campuses, in Wheelers Hill, Templestowe, Doncaster and Hawthorn.
					| Our Chinese classes run from prep to Year 12 (VCE Units 3 &amp; 4). All of our teachers are qualified with
					| education degrees and teaching experience. Also, each campus is managed by managers and heads-
					| of-years qualified and experienced in education. This is to preserve the quality of, and continually
					| develop, our tuition program. It is our belief that while faulty products or services can be mitigated,
					| people usually only have one chance at their educational career. That is why we see it as our
					| obligation to try all we can to bring out a student’s full potential.
					br
					br
					| Over the years, we have received positive feedback from many of our parents. We are valued for the
					| professionalism and care we take in our management of the program.
					br
					br
					| To maintain the high standard of tuition at our school, many sit-ins amongst our teachers are
					| organised every year. Feedback is shared among our staff and teachers are encouraged to pool their
					| knowledge and expertise and learn from each other.
					br
					br
					| Looking to the future, we are filled with confidence and motivation. We believe that our success will
					| continue, and that you can be a part of that success.
					br
					br
					| Everyone is welcome to join us. To enrol, please check our enrolment page.
			.slider(style='margin-bottom: 3vw; margin-top: 2vw;')
				ul.slides
					li
						img(src='/images/20.jpeg')
					li
						img(src='/images/21.jpeg')
					li
						img(src='/images/22.jpeg')
					li
						img(src='/images/23.jpeg')
