extends layout

block content
	.row.green.lighten-4
		.col.s12.m3
			.mini_nav
				a(href='/enrol/language')
					button.waves-effect.waves-light.btn-large.col.s12.margined_btn(type='button', name='chinese_school') 中文学校
				a(href='/enrol/learning')
					button.waves-effect.waves-light.btn-large.col.s12.margined_btn.blue(type='button', name='scholarship_classes') 奖学金班
				a(href='http://www.pdf-archive.com/2016/05/23/ch-scholarship-enrolment/ch-scholarship-enrolment.pdf' download)
					button.waves-effect.waves-light.btn-large.col.s12.margined_btn(type='button', name='download') 下载奖学金班报名资料
		.col.s12.m9.white.left-border
			div.container
				h2.m1 新世纪教育中心介绍
				p(align="justify").p2.p2t
					| 提到孩子考奖学金或精英公校，在墨尔本居住了一段时间的家长们大凡都
					| 能想到新世纪学校，因新世纪学校已经连续十三年在私校奖学金和精英公校考
					| 试中遥遥领先，取得令人瞩目的成绩。
					br
					br
					| 新世纪教育中心设有Templestowe、Wheeler Hill、Hawthorn、Doncaster
					| 和Ashwood五所分校。开设一年级至九年级年级课程，主要科目有：English,
					| Maths, Writing, Science（Physics, Chemestry, General Science）and
					| Children’s literature, 准备考试的年级还补充大量抽象思维训练。聘请的
					| 老师都是澳洲本地有相关教育文凭的经验教师。而且，各分校统一管理，并且
					| 都由办学人员亲自管理，确保了我校的教学质量。
					br
					br
					| 讲学金考试和精英公校考试对于许多家长来说是个复杂的过程，面对着那么多
					| 的学校和那么复杂的考试体系，家长们常常一头雾水。当您加入到我们新世纪
					| 学校，您将获得最清晰的辅导：我们每年举行奖学金考试及精英公校考试家长会，
					b 家长关心的许多问题将得到解答，比如：
					p(align="justify").container.list
						| - 如何认识各类学校
						br
						| - “我的孩子有没有可能获得奖学金？”
						br
						| - 奖学金考试类型及近年的变化
						br
						| - 考试日期及学校的选择
						br
						| - 报名注意事项
						br
						| - 往年学生报考出现的问题
						br
						| - 考前学生如何学习要点
						br
						| - 家长应该准备好哪些孩子的有关材料
						br
						br
				p(align="justify").p2
					| 另外，考试后获得面试通知的学生我们还将进行面试辅导。我校还定期举办音乐比赛，向名私校推荐优秀音乐人才。
					br
					br
					b 以下是新世纪学校2015年精英公校考试，奖学金考试，公校精英班考试成绩：
					p(align="justify").container.p2b.list
						| - 新世纪学校2015年8年级奖学金班有102位同学被 Melbourne High、MacRobertson还有Nossal High录取；
						| 录取比例超过考生的80%。
						br
						| - 新世纪学校2015年奖学金考试共获得10个100%奖学金 ，16个90%奖学金，43个60%-80%奖学金 ，168个50%奖学金，不
						| 少名校的奖学金几乎为新世纪学校包揽。
						br
						| - 新世纪学校奖学金6年级大量同学考入公校精英班， 16位同学考入Balwyn High School 精英班。7位同学考入
						| University High School 精英班。
						br
						| - 新世纪学校12位奖学金9年级同学被John Monash Science
						| School 录取。
			.slider(style='margin-bottom: 3vw; margin-top: 2vw;')
				ul.slides
					li
						img(src='../images/20.jpeg')
					li
						img(src='../images/21.jpeg')
					li
						img(src='../images/22.jpeg')
					li
						img(src='../images/23.jpeg')
