<div class="course_details">
        <h5>奖学金 Year 1</h5></br>
        <p>招收日校1年级学生，每班一般由3位老师执教，分别教授Maths, English和Children’s Literature各一课时。采用澳洲权威教材和学校系统补充教材及练习资料，平行班教材相同，由来自名校的经验丰富的西人老师执教。</br>
        </br>  收费标准：<b>$630</b>／半年
        </br>  教材费： <b>$58</b>/年 (按书本原价)。
        </br>  材料费： <b>$20</b>/半年
        </p> </br></br>

        <h5>奖学金 Year 2</h5></br>
        <p>招收日校1年级学生，每班一般由3位老师执教，分别教授Maths, English和Children’s Literature各一课时。采用澳洲权威教材和学校系统补充教材及练习资料，平行班教材相同，由来自名校的经验丰富的西人老师执教。</br>
        </br>  收费标准：<b>$630</b>／半年
        </br>  教材费： <b>$55</b>/年 (按书本原价)。
        </br>  材料费： <b>$20</b>/半年
        </p> </br></br>

        <h5>奖学金 Year 3</h5></br>
        <p>招收日校3年级学生，每班由3位老师执教，分别教授Maths，English和English Essay Writing各一课时。学校安排适时补充抽象思维练习和奖学金模拟考试。采用澳洲权威教材和学校系统补充教材及练习资料，平行班教材、作业及进度相同，由来自名校的经验丰富的西人老师执教。</br>
        </br>  收费标准：<b>$730</b>／半年
        </br>  教材费： <b>$57</b>/上班年; <b>$10</b>/下班年 (按书本原价)。
        </br>  材料费： <b>$30</b>/半年
        </p> </br></br>

        <h5>奖学金 Year 4</h5></br>
        <p>招收日校1年级学生，每班一般由3位老师执教，分别教授Maths, English和Children’s Literature各一课时。采用澳洲权威教材和学校系统补充教材及练习资料，平行班教材相同，由来自名校的经验丰富的西人老师执教。</br>
        </br>  收费标准：<b>$730</b>／半年
        </br>  教材费： <b>$42 (老生 - $32)</b>/上班年; <b>$44</b>/下班年 (按书本原价)。
        </br>  材料费： <b>$40</b>/半年
        </p> </br></br>

        <h5>奖学金 Year 5</h5></br>
        <p>招收日校5年级学生，每班由3位老师执教，分别教授Maths，English和English Essay Writing各一课时。采用澳洲权威教材和学校系统补充教材及练习资料，并配以大量抽象思维练习及奖学金模拟试题，平行班教材、作业及进度相同，由来自名校的经验丰富的西人老师执教。</br>
        </br>  收费标准：<b>$750</b>／半年
        </br>  教材费： <b>$67 (老生 - $35)</b>/上班年; <b>$17</b>/下班年 (按书本原价)。
        </br>  材料费： <b>$50</b>/半年
        </p> </br></br>

        <h5>奖学金 Year 6</h5></br>
        <p>招收日校6年级学生，每班由3位老师执教，分别教授Maths，English和English Essay Writing各一课时(考完奖学金后补充Science)。采用澳洲权威教材和学校系统补充教材及练习资料，上半年加做大量奖学金模拟试题，下半年开始中学课程学习。平行班教材、作业及进度相同，由来自名校的经验丰富的西人老师执教。</br>
        </br>  收费标准：<b>$750</b>／半年
        </br>  教材费： <b>$70</b>/年 (按书本原价 - Term2 发书)。
        </br>  材料费： <b>$50</b>/半年
        </p> </br></br>

        <h5>奖学金 Year 7</h5></br>
        <p>招收日校7年级学生，每班由3 位老师执教，分别教授Maths，English 和Essay Writing 各一课时。采用澳洲权威教材和学校系统补充教材及练习资料，并配以抽象思维练习及奖学金模拟试题，平行班教材、作业及进度相同。由来自名校的经验丰富的西人老师执教。</br>
        </br>  收费标准：<b>$750</b>／半年
        </br>  教材费： <b>$70</b>/上班年; <b>$32</b>/下班年 (按书本原价)。
        </br>  材料费： <b>$50</b>/半年
        </p> </br></br>

        <h5>奖学金 Year 8</h5></br>
        <p>招收日校8年级学生，每班由3 位老师执教，分别教授Maths，English 和 Essay Writing（上半年）各一课时。上半年加做大量奖学金模拟试题和精英公校入学考试模拟试题；下半年学习9/10 年级英文、数学，科学课程。平行班教材、作业及进度相同。由来自名校的经验丰富的西人老师执教。</br>
        </br>  收费标准：<b>$750</b>／半年
        </br>  教材费： <b>$56 (老生 - $24)</b>/上班年; <b>$62</b>/下班年 (按书本原价)。
        </br>  材料费： <b>$50</b>/半年
        </p> </br></br>

        <h5>奖学金 Year 9</h5></br>
        <p>招收日校9年级学生，每班由3 位老师执教，分别系统教授Yr10 Maths，Yr10 English, Yr9-10 Science 各一课时，并有大量针对VCE 内容的训练。</br>
        </br>  收费标准：<b>$750</b>／半年 （只读单科：<b>$270</b>/半年，材料费<b>$20</b>/半年）
        </br>  教材费： <b>$56 (老生 - $24)</b>/上班年; <b>$62</b>/下班年 (按书本原价)。
        </br>  材料费： <b>$50</b>/半年
        </p> </br></br>

        <h5>数学过关训练 1-7 年级</h5></br>
        <p>一种类似Kumon, 又比Kumon 经济、灵活的数学计算训练；涵盖加减乘除，小数，分数基本运算及混合运算，以及必要的单位换算，约分通分等等各种基本训练。共分以下八个级别：L2, L2 Advanced; L3, L3 Advanced; L4, L4 Advanced; L5,L5 Advanced. 学生从L5 Advanced 毕业，则就掌握了7 年级应掌握的计算技能，并达到了应有的熟练程度。</br></br>

        <b>运作方式：</b>学生到办公室报名, 进行测试并按水平加入计算过关训练，领取练习题和答案，在家里利用空闲时间完成练习题，父母根据答案帮助孩子批改订正。如果过关，则进入下一水平级。</br></br>

        费用： 每一水平级<b>$30</b>, 含手续，习题；我校奖学金班学生只需每一水平级付$5手续费。
        </br></br>
        </p>

      </div>