extends ../admin_layout

block content
    p
      a.btn-lg.btn-primary.btn-centre(href='/articles/new') Add a New Article
    .margined
            - each article, i in articles
                .article-item-list 
                  img.article-list-img(src='#{article.image1_url}')
                  h5.flow-text
                    = article.title
                  .article-item-buttons
                        p
                        -if(article.blog_or_news == '0')
                          p Teacher Blog
                        -else
                          p News Article
                        a(href='/articles/#{article._id}/edit') Edit
                        a(href='/articles/#{article._id}') Show full
                        form(action='/articles/#{article._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                          input(type='hidden',value='DELETE',name='_method')
                          button(type='submit').
                            Delete