extends ../layout

block content
    h1.
        #{title}
    form#formAddArticle(name="addarticle",method="post",action="/articles")
        p Title: 
            input#inputTitle(type="text", placeholder="enter title", name="title")
        p Text:
            input#inputText(type="text", placeholder="enter article contents here", name="text")
        p Image url: 
            input#inputImage_url(type="text", name="image_url")
        p
            button#btnSubmit(type="submit") submit