/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.current-page{
  color: white;
}
.current-language{
  font-weight: bold;
}

.logo{
  max-height: 2em;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-right {
  margin-right: 3vw;
}

.res-text {
  font-size: 6vw;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

.wider{
  width: 90vw;
}

.margined {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.margined > div {
  margin-bottom: 2vw;
}

.margined label {
  color: teal;
}

.btn-centre {
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-top: 30px;
}

.margined {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.margined > div {
  margin-bottom: 2vw;
}

.margined label {
  color: teal;
}

.btn-centre {
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-top: 30px;
}

.mini_nav{
  margin-top: 5vw;
  padding-right: 3vw;
}

.margined_btn {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.slider .slides li img {
  background-size:100% auto;
  background-repeat: no-repeat;
}

.left-border {
  border-left-color: grey;
  border-left-style: double;
  border-left-width: thick;
}

.mapspace {
  height: 350px;
  width: 100%;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.course_details {
  padding: 1vw;
}

.campus_btns {
  display: flex;
  justify-content: space-around;
}

.campus_btns button {
  width: 18%;
  font-size: 1.1vw;
}
.article-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.5vw;
}
.article-item > :first-child {
  border-radius: 50%;
  width: 20%;
  height: 20%;
  margin-right: 10%;
}
.article-item > h3 {
  font-size: 4.5vw;
}
.article-item > p {
  text-align: justify;
}
.article-item span {
  width: 100%;
  text-align: right;
  margin-top: 1vw;
  margin-bottom: 2vw;
  font-weight: bolder;
}
.article-item > img {
  width: 50%;
  padding: 0.5vw;
}
.card-holder {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 2vw;
  width: 44%;
}
.img-card {
  margin: 2vw;
  width: 44%;
  height: 25%;
}
.article-item-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw;
}
.article-list-img {
  border-radius: 50%;
  width: 12%;
  height: 12%;
}
.article-item-list > h5 {
  margin-left: 0;
  text-align: left;
  font-size: 100%;
}
.article-item-buttons{
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.no-btm-margin {
  margin-bottom: 0;
}

.campus_info{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.campus_info div {
  width: 100%;
  display: none;
}

.campus_info div img {
  width: 100%;
}

.campus_info div p {
  font-size: 1.6vw;
}
.index-icon-img {
  margin-top: 10%;
  width: 25%;
  height: 25%;
}
#office-map{
  margin-top: 2vw;
}
.index-news{
  height: 17em;
}
.hidden{
  display: none;
}
.container{
  width: 90%;
}
.margin70{
  width: 70%;
}
