extends ../admin_layout

block content
    form.margined(action='/updates/#{update._id}/edit',method='post',name='updateupdate',enctype='application/x-www-form-urlencoded')
        .form-group
            p Title:
                input#inputTitle(type='text', value='#{update.title}', name='title')
            p
                label(for='content') New content: 
                textarea.form-control#inputText(type='text', value='#{update.text}', name='text' rows="9")
                    |#{update.text}
            p 
                input(type='hidden',value='PUT',name='_method')
            p 
                button#btnSubmit.btn-lg.btn-primary.btn-centre(type='submit').
                    Save
