extends ../layout

block content
    h1.
         #{title}
    ul
        - each update, i in updates
            li
                = update.text
                = update._id
                form(action='/updates/#{update._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/updates/#{update._id}/edit') Edit
                p
                    a(href='/updates/#{update._id}') Show